*{
    background-color: black;
}

body{ 
    text-align: center;
}

h1{ 
    background-color: aqua;
    color: azure;
}
 h2{
     color: azure;
 }
 h3{
     color: azure;
 }
#sonido{
  background-color: aqua;
}
