/**{
    background-color: black;
}*/
body{
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
main{
    text-align: center;
}

.paginas{
    text-decoration: none;
    font-weight: 550;
}

 h1{
    font-weight: 1000;
    

}
 h2{
     color: azure;
 }
 h3{
     color: azure;
 }
.sonido{
    color: aqua;
}