*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
main{
    text-align: center;
    
}


.paginas{
    text-decoration: none;
    font-weight: 550;

    max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.inicio{
    background: #070707;
}
.inicio a{
    color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: rgb(240, 232, 232);
	transition: .3s ease-out all;
}
.inicio a:hover{
    background: #809baf;
	color: #fff;
	text-decoration: none;
}

 h1{
    font-weight: 1000;
    padding: 20px 0px 20px 0px;
    
}
 h2{
     color: azure;
 }
 h3{
     color: azure;
 }
.sonido{
    color: aqua;
}
.espacio{
    padding: 20px 0px 20px 0px;
}