* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
.paginas{
    text-decoration: none;
    font-weight: 550;

    max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.inicio{
    background: #070707;
}
.inicio a{
    color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: rgb(240, 232, 232);
	transition: .3s ease-out all;
}
.inicio a:hover{
    background: #809baf;
	color: #fff;
	text-decoration: none;
}
img{
  border-radius: 7px;
  position: relative;
  width: 300px;
  max-height: 300px;

}
/*img:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}*/
.lista{
    color: azure;

}
.titulo{
    color: black;
    font-weight: 1000;
}
#cuerpo{
    padding-left: 5%;
}