*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
    main{
    text-align: center;
    
}
.corazon{
    width: 90%;
    margin-top: 2%;
    margin-left: 4%;
    left: 20px;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;


}
.paginas{
    text-decoration: none;
    font-weight: 550;
    max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.inicio{
    background: #070707;
}
.inicio a{
    color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: rgb(240, 232, 232);
	transition: .3s ease-out all;
}
.inicio a:hover{
    background: #809baf;
	color: #fff;
	text-decoration: none;
}